.header-mask{
    background-color: #f0f0f2;
    font-size: 24px;
}

.button-mask-btn{
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #bdbdbd;
}

.pdf-chevron{
    background-color: 'black';
}

.pdf-border{
    border:solid 1px black;
}