.dropdown-item {
    padding: 10px;
}

.mask {
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding-left:4px;
    margin: 6px;
    display: flex;
}

.mask-padding{
    padding: 2%;
}

.order-back{
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-back-div{
    height: auto;
}

.order-back-div-2{
    height: 100%;
    width: 100%;
}

.shift{
    margin-left: 16px;
}

.sub-mask{
    padding: 1%;
}

.sub-mask-button{
    position: absolute;
    left: 5%;
}

.order-notifs-filter{
    background-color:#f44336;
    padding: 1%;
    border-radius: 8px;
    color: white;
}
