.filter-mask{
width: 200px;
height: 60px;
background-color: #eceff1;
display: inline-block;
text-align: center;
vertical-align: middle;
line-height: 60px;  
}

.status-filter-mask{
  width: 50px;
  height: 24px;
  border-radius: 4px;
  border: solid 1px #c8c9cc;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 24px; 
  font-size: 10px;
  margin-left: 2%;
}

.status-filter-mask-new{
  background-color:#f44336;
  font-size: 8px;
  color:white;
}


.status-filter-mask-in-process{
  background-color:#ffc107;
  font-size: 8px;
  color:white;
}

.status-filter-mask-submitted{
  background-color:#2196f3;
  font-size: 8px;
  color:white;
}

.status-filter-mask-completed{
  background-color:#1ddaae;
  font-size: 8px;
  color:white;
}

.status-filter-mask-active{
  font-size: 8px;
}

.selectedFilter{
  background-color: #cfd8dc;
}
