.side-bar{
    height: -webkit-fill-available;
    background-color:#eceff1;
    white-space: nowrap;
}

.side-bar-content{
    font-size: 18px;
    white-space: nowrap;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 18px;
    //text-align: center;
    //vertical-align: middle;
    letter-spacing: normal;
    color: #000000;
    padding: 10%;
    border: 1px solid #cfd8dc;
    //text-align: left;
    
}

.side-bar-content:hover{
    background-color:#cfd8dc 
}

.side-bar-logout-option:hover{
    background-color:#cfd8dc 
}

.side-bar-logout-option{
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    letter-spacing: normal;
    color: #000000;
    border: 1px solid #cfd8dc;
    padding-top: 10%;
    padding-bottom:10%;
    padding-left:30%;
    padding-right:47%;
}

.serach-bar-image{
    background-image: url('/ops-app/images/smv_logo.png');
}

.active-link{
    color:'orange';
    font-size: 20px;
}

input.search-bar{
    border:none;
    padding: 10%;
    width: 55%;
    height: 90PX;
    background-color: #fafafa;
    font-size: 16px;
}

.search-bar-image{
  padding-top: 1%
}

.search-button{
    width: 100px;
    height: 36px;
    border-radius: 4px;
    background-color: #4a90e2;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top:30%;
    right: 10%;
}

.fix-image{
    transform: scale(0.5);
}

.pop-up-bg{
    background-color: #ffffff;
    position: relative;
    left: -50%;
    padding: 0;
    border-radius: 16px;
    top: 160px;
}

.selected{
    background-color: #cfd8dc;
}
